/* BASE */

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

/*









 */

/* UTILS */

.lineunder {
  text-decoration: underline;
}

/*









 */

/* COMPONENTS */
.wrapper {
  display: flex;
  background-color: #f87171;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 4rem;
}

.chat-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.5rem;
  border-radius: 9999px;
  border-width: 1px;
  border-color: #000000;

  /* Change duration back to 8s */
  animation: chat 0s ease-in;
}

@keyframes chat {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.chat-box-msg {
  padding: 10px;
  font-weight: 500;
}

.answer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.answer {
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
}

.animation-bounce:hover {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animation-spin:hover > p {
  animation: spin 1s linear both;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg) scale(0.2);
  }
}

.animation-rude:hover {
  text-decoration: line-through;
  transform: scale(0.95);
  transition: all 0.5s;
}

.img {
  height: 60%;
}

/* Change duration back to 7s */

.coming {
  animation: come 1s;
}

@keyframes come {
  0% {
    transform: scale(0);
  }

  10% {
    transform: scale(0.1) rotateY(180deg);
  }
  20% {
    transform: scale(0.2);
  }
  30% {
    transform: scale(0.3) rotateY(180deg);
  }
  40% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(0.5) rotateY(180deg);
  }
  60% {
    transform: scale(0.6);
  }
  70% {
    transform: scale(0.7) rotateY(180deg);
  }
  80% {
    transform: scale(0.8);
  }
  90% {
    transform: scale(0.9) rotateY(180deg);
  }
  100% {
    transform: scale(1);
  }
}

.leaving {
  animation: leave 1s;
}

@keyframes leave {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9) rotateY(180deg);
  }
  20% {
    transform: scale(0.8);
  }
  30% {
    transform: scale(0.7) rotateY(180deg);
  }
  40% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(0.5) rotateY(180deg);
  }
  60% {
    transform: scale(0.4);
  }
  70% {
    transform: scale(0.3) rotateY(180deg);
  }
  80% {
    transform: scale(0.2);
  }
  90% {
    transform: scale(0.1) rotateY(180deg);
  }
  100% {
    transform: scale(0);
  }
}

#takingPicture {
  stroke: #f87171;
  fill: #f87171;
}
